# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/StreamingAssets/aa.meta

# Visual Studio
.vscode/
.vs/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity generated
MemoryCaptures/
UserSettings/

# Logs
*.log

# Ignorar modelo pesado
Assets/Modelos 3D/Mapas/Bosque.fbx
